<h1>Let's get started with Blackjack!</h1>
<p>Welcome <%= session[:player_name].capitalize %>
</p>
Dealer's cards:
<ul>
  <% session[:dealer_cards].each do |card| %>
  <%= card.to_s %>
  <% end %>
  </ul>

  <br />
  <p>Player's cards:</p>
   <% session[:player_cards].each do |card| %>
  <%= card.to_s %>
  <% end %>